:root {
    --white: #fff;
    --black: hsl(0, 0%, 17%);

    /* blue */
    --blue-30: hsl(220, 75%, 30%);
    --blue-48: hsl(200, 80%, 48%);
    --blue-65: hsl(190, 70%, 65%);
    --blue-60: hsl(195, 40%, 60%);
    --blue-90: hsl(200, 80%, 90%);
    --blue-95: hsl(200, 80%, 95%);
    --blue-98: hsl(200, 80%, 98%);

    /* orange */
    /* 目前90尚未使用 */
    --orange-50: hsl(30, 90%, 50%);
    --orange-95: hsl(30, 90%, 95%); 

    /* natural */
    --natural-95: hsl(200, 15%, 95%);
    --natural-90: hsl(200, 15%, 90%);
    --natural-85: hsl(200, 15%, 85%);
    --natural-50: hsl(195, 16%, 50%);
    --natural-30: hsl(195, 16%, 30%);

    /* green */
    --green-35: hsl(100, 50%, 35%);
    --green-50: hsl(100, 50%, 50%);
    
    /* red */
    --red-40: hsl(0, 100%, 40%);

    /* alpha */
    --white-30: rgba(255, 255, 255, 0.3);
    --white-60: rgba(255, 255, 255, 0.6);
    --black-60: rgba(0, 0, 0, 0.6);
    --black-40: rgba(0, 0, 0, 0.4);
}